
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    width: 95%;
    max-width: 90em;
    margin: 0 auto;
}

#top-bar {
    height:50px;
    background-color: blue;
    text-align: center;
}

h1 {
    color: white;
}

h2 {

    margin-left: 10px;
}

#top-left-panel {

    border:1px solid black;
    height:155px;
    width: 99.87%;
   
}
#bottom-left-panel {

    border:1px solid black;
    height:642px;
    width: 99.87%;
   
}

#search-city-content {
    height:155px;
}

#search-history-content {
    height:642px;
}


#future-weather-forecast{
    height:642px;
    width: 84.43%;
}

#current-weather-forecast{
    height:155px;
    width: 84.43%;
}

#search-history {
    height:155px;
    width: 15.33%;

}




.col {
    border:1px solid black;
    float: left;
    width: 15.33%;
}

.container{
    border:1px solid black;
    width: 99.87%;
    height: 800px;
}

