
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-header.h3 {
    text-align: center;
}

.curr-weather-content {
    float: left;
}


.inputSearchHistory {
    width: 100px;
    margin: 5px;
}